In [1]:
import pandas as pd

In [2]:
employee_details = pd.DataFrame({
    "firstName": ["John", "Dayo", "Chika"],
    "lastName" : ["Johnson", "Seyi", "Kingsley"],
    "Age": [25, 32, 19],
    "department": ["Sales", "IT", "Editorial"]
})

In [3]:
details = {
    "firstName": ["John", "Dayo", "Chika"],
    "lastName" : ["Johnson", "Seyi", "Kingsley"],
    "Age": [25, 32, 19],
    "department": ["Sales", "IT", "Editorial"]
}

In [4]:
# Fetch all records from the created datafram above

In [5]:
# Fetch out every record in the  using .loc

In [6]:
#call out the fisrtname colum using.loc

In [7]:
# print the "firstName","Age and deparment column from the dataframe

In [8]:
# Fetch the last record of all the column names from the dataframe

In [9]:
# Find where employee age is above 30

In [10]:
# Fetch employee that their age is above 20

In [11]:
# Employee that work in the sales department

In [12]:
# Employee that their age is above 20 and they work in the sales department

In [16]:
# Add a new empty column to the table

In [17]:
# Add a new column to the table and insert the values